h1{
  padding: 2rem;
  color: grey;
}
img{
  width: 5%;
  position: absolute;
  margin: 1%
}

div#header{
  margin: 1%
}


h2{
  text-align: center;
}

.card{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.list-group{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: rgba(224, 234, 235, 0.863)
}
